{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Quiz</title>
    <link rel="stylesheet" href="{% static 'quiz/style.css' %}">
    <script>
        window.quizTimeLimit = Number("{{ time_limit|default:60 }}");
    </script>
    <script src="{% static 'quiz/timer.js' %}"></script>
</head>
<body>
    <div class="container">
        <h2>Quiz</h2>
        <div id="timer">Time Left: <span id="time"></span></div>

        <form method="post" action="{% url 'submit' %}">
            {% csrf_token %}
            {% for q in questions %}
                <div class="question">
                    <p><strong>Q{{ forloop.counter }}. {{ q.question }}</strong></p>
                    {% for key, val in q.options.items %}
                        <label>
                            <input type="radio" name="q{{ forloop.parentloop.counter0 }}" value="{{ key }}" >
                            {{ key }}. {{ val }}
                        </label><br>
                    {% endfor %}
                </div>
            {% endfor %}
            <button type="submit">Submit Quiz</button>
        </form>
    </div>
</body>
</html>
